@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro')

// Reset styles on all elements
*, *::before, *::after
  margin 0
  padding 0
  border 0
  border-collapse collapse
  border-spacing 0
  box-sizing border-box
  outline none
  font-size 100%
  font inherit
  vertical-align baseline
  list-style none
  quotes none

body
  font-family 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif